.groove {
    border: darkorange groove;
    clear: both;
}

.double {
    border: blueviolet double;
    clear: both;
    text-align: center;
}

#header {
    display: block;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 112px;
    position: fixed;
    background-color: #ffffff;
    border:1px solid blue;
}

#content {
    margin: 113px 0px 0px 150px;
    display: block;
    padding: 10px;
}

#navigation {
    display: block;
    top: 113px;
    left: 0px;
    width: 142px;
    height: 100%;
    position: fixed;
    border:2px solid blue;;
}

.navbtns {
    list-style:none;
    border: darkorange;
    border-style: groove;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    margin: 10px;
    width: 100px;
    text-align: center;
    padding: 5px;
}

#intro{
    float: left;
    width: 75%;
    height: 330px;
    margin-bottom: 20px;
}

#pic {
    width: 100%;
    height: 250px;
}

table, td, th {
    border: 1px solid darkorange;
}

#piccontainer{
    width: 15%;
}

table {
    border: darkorange double;
    clear: both;
    text-align: center;
}