.groove {
    border: darkorange groove;
    clear: both;
}

.double {
    border: blueviolet double;
    clear: both;
    text-align: center;
}

.header {
    display: block;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 112px;
    position: fixed;
    background-color: #ffffff;
    border:1px solid blue;
}

h1{
    margin-top: 40px;
    top:50px;
}

#content {
    margin: 113px 0px 0px 150px;
    display: block;
    padding: 10px;
}

#navigation {
    display: block;
    top: 113px;
    left: 0px;
    width: 142px;
    height: 100%;
    position: fixed;
    border:2px solid blue;;
}

.myButton {
    box-shadow:inset 0px 1px 0px 0px #f9eca0;
    background:linear-gradient(to bottom, #f0c911 5%, #f2ab1e 100%);
    background-color:#f0c911;
    border:1px solid #e65f44;
    cursor:pointer;
    color:#c92200;
    padding:5px;
    text-decoration: none;
    margin: 10px;
    width: 100px;
    text-align: center;
    text-shadow:0px 1px 0px #ded17c;
}
.myButton:hover {
    background:linear-gradient(to bottom, #f2ab1e 5%, #f0c911 100%);
    background-color:#f2ab1e;
}
.myButton:active {
    position:relative;
    top:1px;
}

.myButtonH {
    box-shadow:inset 0px 1px 0px 0px #f9eca0;
    background:linear-gradient(to bottom, #66ffff 5%, #0000ff 100%);
    background-color:#66ffff;
    border:1px solid #0000ff;
    cursor:pointer;
    color:#000066;
    padding:5px;
    text-decoration: none;
    margin: 10px;
    width: 100px;
    text-align: center;
    text-shadow:0px 1px 0px #66ccff;
}
.myButtonH:hover {
    background:linear-gradient(to bottom, #0000ff 5%, #66ffff 100%);
    background-color:#66ffff;
}
.myButtonH:active {
    position:relative;
    top:1px;
}

#intro{
    float: left;
    width: 75%;
    height: 330px;
    margin-bottom: 20px;
}

#btns {
    display: block;
    top: 40px;
    position: fixed;
    right:0px;

}

#pic {
    width: 100%;
    height: 250px;
}

table, td, th {
    border: 1px solid darkorange;
}

#piccontainer{
    width: 15%;
}

table {
    border: darkorange double;
    clear: both;
    text-align: center;
}